$main-bg-color: #555555;
$main-color: white;
$horizontal-border-height: 5px;
$horizontal-border-width: 100%;
$horizontal-border-bg-color: #999;
$horizontal-border-border-color: #eee;
$horizontal-border-border-height: 2px;
$footer-height: 30px;
$header-height: 180px;
$header-footer-bg-color: #bbb;
@import '../js/components/flexiblelayout/scss/_variables';
